:root {
    --primary-color: #1875e8; /* Cor principal */
    --secondary-color: #01080e; /* Cor secundária */
    --white: #fff; /* Cor branca */
}

/* Reset de Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Body */
body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    min-height: 260vh;
}

/* ------------------------ HEADER ------------------------ */

/* Estilos do Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Estilo do Logo no Cabeçalho */
.header__logo {
    font-size: 2rem;
    font-weight: bold;
}

/* ------------------------ NAVIGATION ------------------------ */

/* Estilos de Navegação */
.nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: var(--secondary-color);
}

/* Botões de Login e Registro */
.nav .nav__btn--login,
.nav .nav__btn--register {
    padding: 0.8rem 4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Botão de Login */
.nav .nav__btn--login {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Botão de Registro */
.nav .nav__btn--register {
    background-color: var(--secondary-color);
    color: var(--white);
}

/* ------------------------ SWIPER ------------------------ */

/* Estilos do Slider */
.swiper {
    width: 100%;
    height: 28rem; /* Altura fixa para o swiper */
}

/* Estilos para cada Slide */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagem do Slide */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preenche a área do slide */
    object-position: center;
}

/* ------------------------ MAIN CONTENT ------------------------ */

/* Estilo da Área Principal */
main {
    width: 100%;
    height: 100%;
}

/* ------------------------ CATEGORIAS ------------------------ */

/* Estilos para a seção de Categorias */
.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    justify-content: center; /* Alinha as categorias no centro */
    margin-top: 3rem;
    background: #f7f7f7;
    padding: 2rem;
    margin-bottom: 4rem;
}

/* Caixa de Categoria */
.categorias__box {
    background-color: var(--primary-color); /* Cor de fundo */
    border-radius: 8px;
    width: 180px;
    padding: 16px;
    text-align: center;
}

/* Título da Categoria */
.categorias__box h3 {
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
}

/* ------------------------ ÚLTIMAS BUSCAS ------------------------ */

/* Estilos para a seção "Últimas Buscas" */
.section__ultimas__buscas {
    margin: 0 2rem;
    margin-bottom: 6rem;
}

.section__ultimas__buscas--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
}

/* Estilo dos Cards de Busca */
.section__ultimas__busca--card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
}

/* Estilos da Imagem do Card */
.section__ultimas__busca--card--img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.section__ultimas__busca--card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Estilo do Texto no Card */
.section__ultimas__busca--card--text {
    margin-top: 1rem;
}

.section__ultimas__busca--card--span__preço {
    font-weight: bold;
    color: var(--primary-color); /* Cor do preço */
    display: block;
    margin-bottom: 0.5rem;
}

.section__ultimas__busca--card--text--descricao {
    font-size: 0.9rem;
    color: #333; /* Cor do texto */
    margin-bottom: 0.5rem;
}

.section__ultimas__busca--card--text--localização,
.section__ultimas__busca--card--text--data {
    font-size: 0.8rem;
    color: #666; /* Cor para dados secundários */
}

/* ------------------------ MAIS PROCURADOS EM CARROS ------------------------ */

/* Estilos para os cards de "Mais Procurados em Carros" */
.section__mais__procurados__em__carros--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    margin: 0 2rem;
}

.section__mais__procurados__em__carros--container
.section__mais__procurados__em__carros--titulo {
    margin: 0 1rem;
}

/* Estilo dos Cards de Carros Mais Procurados */
.section__mais__procurados__em__carros--card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Imagem do Card de Carro */
.section__mais__procurados__em__carros--img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.section__mais__procurados__em__carros--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Texto no Card de Carro */
.section__mais__procurados__em__carros--card--text {
    margin-top: 1rem;
}

.section__mais__procurados__em__carros--card--span__preço {
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-bottom: 0.5rem;
}

.section__mais__procurados__em__carros--card--text--descricao {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.section__mais__procurados__em__carros--card--text--localização,
.section__mais__procurados__em__carros--card--text--data {
    font-size: 0.8rem;
    color: #666; /* Cor para dados secundários */
}

/* ------------------------ Selecionamos para você ------------------------ */

.section__selecionamos__para__voce--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    margin: 0 2rem;
}

.section__selecionamos__para__voce--card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section__selecionamos__para__voce--img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.section__selecionamos__para__voce--card--text {
    margin-top: 1rem;
}

.section__selecionamos__para__voce--card--span__preço {
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-bottom: 0.5rem;
}

.section__selecionamos__para__voce--card--text--descricao {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.section__selecionamos__para__voce--card--text--localização,
.section__selecionamos__para__voce--card--text--data {
    font-size: 0.8rem;
    color: #666;
}

/* ------------------------ Anúncios patrocinados ------------------------ */
.section__anuncio__patrocinado--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    margin: 0 2rem;
}

.section__anuncio__patrocinado--card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.section__anuncio__patrocinado--img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.section__anuncio__patrocinado--text {
    margin-top: 1rem;
}

.section__anuncio__patrocinado--span__preço {
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-bottom: 0.5rem;
}

.section__anuncio__patrocinado--text--descricao {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.section__anuncio__patrocinado--text--localização,
.section__anuncio__patrocinado--text--data {
    font-size: 0.8rem;
    color: #666;
}

/* ------------------------ SWIPER WRAPPER ------------------------ */
.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.swiper-slide {
    flex-shrink: 0;
    width: 250px;
}

.swiper-pagination-mais {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
}

footer p {
    margin: 1rem 0;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    margin-top: 1rem;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

/* ------------------------ MEDIA QUERIES ------------------------ */
@media (max-width: relative) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav {
        margin-top: 10px;
    }
    .nav a {
        margin-left: 0;
        margin-right: 10px;
    }
}

@media (max-width: relative) {
    .header__logo {
        font-size: 20px;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav a {
        margin: 0;
    }
}
